# Скопировать в python/deploy/config.env и заполнить
TG_BOT_TOKEN=
TG_BOT_NAME=mentoring_otp_bot

KAFKA_BOOTSTRAP_SERVERS=81.30.105.54:29092
KAFKA_GROUP_ID=tg-mentoring-otp-bot
KAFKA_SEND_OTP_ENABLED=true
KAFKA_TOPIC_IN=Send.Otp.IN.V1
KAFKA_TOPIC_OUT=Send.Otp.OUT.V1

SERVER_PORT=8011
TZ=Europe/Moscow
